@media (max-width: 1200px)
  .container
    max-width: 960px

  .set
    width: 475px
    height: 475px
    border: 45px solid #00C4F0
  .hello
    font-size: 40px
  .hero
    max-width: 95%
    bottom: -50px
    &-text
      width: 425px
      &__title
        font-size: 60px
        line-height: 70px
        margin: 20px 0
  .icon
    width: 80px
    height: 80px
    &-github
      left: 365px
    &-instagram
      top: 10px
      right: 360px
    &-telegram
      bottom: 145px
      right: 395px
    &-vk
      right: 365px

  .skills
    padding: 90px 0 90px 0
    &-item
      &:nth-child(3n+4)
        margin-right: 30px
      &:nth-child(3n)
        margin-right: 0
      &:nth-child(7)
        margin-right: 0

  .about
    padding: 90px 0 100px 0
    &-text
      &__title
        font-size: 42px
    &-img
      max-width: 290px
      padding: 19px
  .img-1
    top: 100px
    left: -25px
  .img-2
    bottom: -5px
    left: -25px
  .img-3
    top: 300px
    right: -25px

  .set-white
    border: 70px solid #E4E4E4
    width: 700px
    height: 700px
  .set-yellow
    border: 30px solid #E2A200
    width: 326px
    height: 326px
    top: 80px
  .set-blue
    border: 45px solid #00C4F0
    width: 436px
    height: 436px
    right: 210px
    top: 670px
  .portfolio
    &-title
      font-size: 42px
    &-img
      max-width: 50%
    &-text
      &__discription
        font-size: 16px
        line-height: 19px

  .swiper-button-prev, .swiper-button-next
    width: 50px
    height: 50px

@media (max-width: 1024px)
  .container
    max-width: 798px

  .set
    width: 370px
    height: 370px
    border: 35px solid #00C4F0

  .hello
    font-size: 38px

  .hero
    bottom: -87px
    max-width: 90%
    &-text
      width: 380px
      &__title
        font-size: 55px
        line-height: 65px
        margin: 10px 0
      &__discription
        font-size: 16px

  .header-hero
    padding: 160px 0 50px 0
  .icon
    width: 70px
    height: 70px
    &-github
      left: 295px
    &-instagram
      top: -60px
      right: 210px
    &-telegram
      bottom: 200px
      right: 295px
    &-vk
      right: 310px
      bottom: 85px

  .skills
    padding-bottom: 70px
    &-item
      min-width: 240px
      height: 240px
      &__name
        font-size: 20px
      &__icon
        margin-bottom: 25px
        max-width: 55%

  .about
    padding-top: 70px
    &-text
      &__info
        font-size: 18px
        padding: 50px
        width: 455px
      &__title
        font-size: 35px
    &-img
      max-width: 240px
      padding: 15px
  .img-1
    top: 90px
    left: -40px
  .img-2
    bottom: -10px
    left: -40px
  .img-3
    top: 335px
    right: -40px

  .set-white
    border: 55px solid #E4E4E4
    width: 550px
    height: 550px
    top: 245px
  .set-yellow
    border: 30px solid #E2A200
    width: 275px
    height: 275px
    top: 185px
    right: 160px
  .set-blue
    border: 35px solid #00C4F0
    width: 400px
    height: 400px
    right: 90px
    top: 585px

.portfolio
  padding-bottom: 100px
  &-title
    font-size: 35px
  &-img
    max-width: 45%
  &-text
    &__discription
      font-size: 16px
      line-height: 20px
      margin: 15px

.swiper-button-prev, .swiper-button-next
  width: 45px
  height: 45px

.footer
  padding: 40px 0
  &-wrapper
    justify-content: space-between
  &__list
    font-size: 16px
  &-contacts
    &__link
      font-size: 16px

@media (max-width: 895px)
  .container
    max-width: 680px
  .header-hero
    flex-flow: wrap
    padding: 30px 0
    &__visual
      margin-left: 37%

  .nav-item__link
    font-size: 16px
  .link-logo
    justify-content: center
  .logo
    max-width: 35px
  .name-logo
    max-width: 35%

  .icon
    width: 60px
    height: 60px
    padding: 18px

  .hero
    bottom: -65px
    max-width: 100%
    &-text
      margin-bottom: 20px

  .skills
    &-item
      &:nth-child(3)
        margin-right: 30px
      &:nth-child(even)
        margin-right: 0
      &:nth-child(7)
        margin-top: 30px

  .about
    padding: 50px 0
    &-text
      &__info
        font-size: 18px
        padding: 40px

  .img-1, .img-2, .img-3
    display: none

  .set-white
    border: 50px solid #E4E4E4
    width: 500px
    height: 500px
  .set-yellow
    border: 25px solid #E2A200
    width: 250px
    height: 250px
    right: 20px
    top: 60px
  .set-blue
    border: 35px solid #00C4F0
    width: 350px
    height: 350px
    right: 15px
    top: 575px

  .portfolio
    &-wrapper
      height: auto
      flex-wrap: wrap
      padding: 25px

    &-text
      max-width: 550px
    &-img
      max-width: 70%
      margin-bottom: 35px

    .swiper-button-prev, .swiper-button-next
      display: none

  .footer
    &-wrapper
      justify-content: space-evenly
      flex-wrap: wrap
    &-copyright
      flex-basis: 50%
      margin-top: 30px
      align-items: center
    &-link-logo
      justify-content: center
      margin-bottom: 10px

@media (max-width: 680px)
  .header-top
    padding: 10px
  .header-hero
    padding: 100px 0 30px 0
  .container
    max-width: 85%
  .header-hero__visual
    margin-left: 32%

  .hero-text__button
    font-size: 16px
    padding: 12px 36px

@media (max-width: 600px)
  .header-burger
    display: block
  .nav-item
    position: fixed
    width: 100%
    height: 100%
    top: -100%
    left: 0
    background-color: #3d3d3d
    margin: 0
    z-index: 1
    padding-top: 100px
    display: block
    transition: all .4s ease 0s
    overflow: auto
    &__list
      text-align: center
      margin-bottom: 20px
    &__link
      font-size: 20px
  .nav-item.active
    top: 0

  .header-hero
    justify-content: center
    &__visual

      margin-left: 10%
      margin-top: 70px
  .skills
    &-item
      margin: 0
      margin-bottom: 30px
      flex-basis: 51%
      width: 240px
      height: 240px
      &:nth-child(3)
        margin-right: 0
      &:nth-child(n+4)
        margin-bottom: 30px
      &:nth-child(7)
        margin: 0

  .about
    &-text__info
      font-size: 16px
      width: 420px
    &-text__title
      font-size: 30px

  .set-white
    display: none
  .set-blue
    border: 25px solid #00C4F0
    width: 300px
    height: 300px
    right: 10px
    top: 595px
  .set-yellow
    border: 20px solid #E2A200
    width: 250px
    height: 250px
    top: 60px
    right: 260px
  .portfolio
    padding: 65px 0
    &-title
      font-size: 30px
      margin: 20px 0
  .footer
    &-contacts
      text-align: center
    &-item
      display: none
    &-copyright
      margin-top: 50px
      text-align: center
      &__info
        margin-top: 8px

@media (max-width: 450px)
  .hello
    font-size: 30px

  .hero
    &-text
      &__title
        font-size: 48px
        line-height: 52px
      &__button
        font-size: 14px

  .set
    border: 25px solid #00C4F0
    width: 300px
    height: 300px

  .hero
    max-width: 95%
    bottom: -55px

  .icon
    width: 65px
    height: 65px
    &-github
      left: 245px
    &-instagram
      top: -45px
      right: 185px
    &-telegram
      bottom: 140px
      right: 250px
    &-vk
      right: 250px
      bottom: 35px

  .header-hero__visual
    margin-right: auto
    margin-left: 7%

  .about
    &-text
      &__info
        width: 300px
        padding: 30px
      &__title
        font-size: 27px
  .set-yellow
    right: 145px
  .footer
    padding: 30px 0
    &-link-logo
      margin-bottom: 15px
    &-copyrgiht__info
      font-size: 12px

@media (max-width: 300px)
