*
  box-sizing: border-box

body
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%)
  color: $text-color
  font-family: 'Comfortaa', cursive
  // font-family: 'Montserrat', sans-serif

.container
  max-width: 1200px
  margin: auto

ul
  padding: 0

img
  max-width: 100%

svg path
  fill: inherit
  stroke: inherit
  stroke-width: inherit

@keyframes bounce
  0%, 20%, 60%, 100%
    transform: translateY(0)
    transform: translateY(0)
  40%
    transform: translateY(-20px)
    transform: translateY(-20px)
  80%
    transform: translateY(-10px)
    transform: translateY(-10px)

.header-burger
  display: none
  position: relative
  width: 30px
  height: 20px
  z-index: 2
  margin: 0 20px
  &::before, &::after
    content: ''
    background-color: #fff
    position: absolute
    width: 100%
    height: 2px
    left: 0
    // transition: all .4s ease 0s
    box-sizing: border-box
  &::before
    top: 0
  &::after
    bottom: 0
  .burger
    background-color: #fff
    position: absolute
    width: 100%
    height: 2px
    left: 0
    top: 9px
    // transition: all .4s ease 0s

.header-burger.active::before
  transform: rotate(45deg)
  top: 9px

.header-burger.active .burger
  transform: scale(0)

.header-burger.active::after
  transform: rotate(-45deg)
  bottom: 9px

.scroll-hidden
  overflow-y: hidden
