*
  box-sizing: border-box

body
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%)
  color: $text-color
  font-family: 'Comfortaa', cursive
  overflow-x: hidden

.container
  max-width: 1200px
  margin: auto

ul
  padding: 0
  margin: 0

img
  max-width: 100%

svg path
  fill: inherit
  stroke: inherit
  stroke-width: inherit

@keyframes bounce
  0%, 20%, 60%, 100%
    transform: translateY(0)
    transform: translateY(0)
  40%
    transform: translateY(-20px)
    transform: translateY(-20px)
  80%
    transform: translateY(-10px)
    transform: translateY(-10px)

.scroll-hidden
  overflow: hidden

.section-title
  font-family: 'Montserrat', sans-serif
  font-weight: normal
  font-size: 35px
  line-height: 54px
  color: #ffffff
  text-transform: uppercase
  text-align: center
