.about
  padding: 100px 0 114px 0
  max-width: 80em
  margin: auto
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-evenly
    position: relative
  &-img
    background: #2C2C2C
    border-radius: 14px
    padding: 29px
    position: absolute
    object-fit: cover
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  &-text
    &__title
      text-align: center
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-weight: normal
      font-size: 48px
      line-height: 54px
    &__info
      font-weight: 300
      font-size: 20px
      line-height: 24px
      align-items: center
      letter-spacing: 0.01em
      color: #FFFFFF
      background: #2C2C2C
      border-radius: 14px
      padding: 63px
      width: 496px
.img-1
  top: 100px
  left: 40px
.img-2
  bottom: -20px
  left: 60px
.img-3
  top: 275px
  right: 25px

.set-wrapper
  position: relative
.set-white
  border: 89px solid #E4E4E4
  filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25))
  border-radius: 100%
  width: 792px
  height: 792px
  position: absolute
  left: 20px
  top: 170px
.set-yellow
  border: 34px solid #E2A200
  filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25))
  border-radius: 100%
  width: 356px
  height: 356px
  position: absolute
  right: 235px
  top: 100px
.set-blue
  border: 55px solid #00C4F0
  filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25))
  border-radius: 100%
  width: 486px
  height: 486px
  position: absolute
  right: 240px
  top: 620px
