.header-hero
  display: flex
  justify-content: space-between
  padding: 200px 0 3px 0

.hello
  font-weight: 600
  font-size: 48px
  line-height: 54px
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase

.hero-text
  width: 447px
  &__title
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 72px
    line-height: 82px
    text-transform: uppercase
    margin: 27px 0
  &__discription
    font-weight: 300
    font-size: 18px
    line-height: 21px
    margin-bottom: 27px
  &__button
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 18px
    line-height: 20px
    color: #000
    padding: 14px 38px
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%)
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48)
    border-radius: 6px
    text-transform: uppercase
    border: 0
    cursor: pointer
    transform: scale(1)
    transition: all .4s ease 0s
    &:hover
      box-shadow: 0px 5px 17px rgba(226, 158, 0, 0.78)
      transition: all .4s ease 0s
      transform: scale(1.1)

.set
  display: flex
  align-items: center
  justify-content: center
  position: relative
  border: 67px solid #00C4F0
  filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42))
  width: 575px
  height: 575px
  border-radius: 100%

.hero
  position: absolute
  left: 30px
  bottom: -70px

.icon
  position: absolute
  width: 90px
  height: 90px
  background: #fff
  border-radius: 100%
  padding: 20px
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)
  fill: #000
  transition: all .4s ease 0s
  &-github
    top: 25px
    left: 420px
    &:hover
      background-color: #000
      fill: #fff
      transform: rotate(25deg)
  &-instagram
    top: 25px
    right: 420px
    &:hover
      background-color: #e1306c
      fill: #fff
      transform: rotate(25deg)
  &-telegram
    bottom: 165px
    right: 460px
    &:hover
      background-color: #0088cc
      fill: #fff
      transform: rotate(25deg)
  &-vk
    bottom: 10px
    right: 410px
    &:hover
      background-color: #597da3
      fill: #fff
      transform: rotate(25deg)
