.portfolio
  display: flex
  justify-content: center
  background: #272727
  padding: 100px 0 150px 0
  &-title
    font-family: 'Montserrat', sans-serif
    font-weight: normal
    font-size: 48px
    line-height: 54px
    color: #FFFFFF
    text-transform: uppercase
    text-align: center
    margin-bottom: 50px
  &-wrapper
    max-width: 100em
    min-height: 600px
    display: flex
    align-items: center
    justify-content: space-evenly
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%)
    border-radius: 29px
    padding: 50px
  &-text
    display: flex
    flex-direction: column
    max-width: 296px
    &__title
      font-weight: 300
      font-size: 24px
      line-height: 29px
      color: #fff
      text-align: center
      margin: 0
    &__discription
      font-weight: 300
      font-size: 18px
      line-height: 21px
      text-align: center
      color: #fff
      margin: 25px 0
    &__link
      text-decoration: none
      font-weight: 300
      font-size: 18px
      line-height: 21px
      color: #E2A100
      text-align: center
.img-link
  padding-left: 7px

.swiper-button-prev, .swiper-button-next
  width: 60px
  height: 60px
  padding: 12px
  border-radius: 100%
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%)
.button-swiper:hover
  transform: rotate(360deg)
  transition: 0.8s
